.module_airlines ul {
	padding: 0;
	margin: 0;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	-ms-column-count: 2;
	-o-column-count: 2;
	column-count: 2;
	columns: 2;
	-webkit-column-gap: 15px;
	-moz-column-gap: 15px;
	-ms-column-gap: 15px;
	-o-column-gap: 15px;
	column-gap: 15px;
	list-style-type: circle;
	list-style-position: inside;
	font-size: 15px;
	line-height: 1.8;
}